<div class="container-fluid  bg-dark" style="height : 100vh">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="/productos" method="post">
                    <div class="form-group mt-3">
                        <input type="text" name="aBuscar" placeholder="Ingrese un producto a buscar"
                            class="form-control">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-info mt-3">Buscar 🔎</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table  text-white">
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>-</th>
        </tr>
        {{#each productos}}
        <tr>
            <td>{{id}}</td>
            <td>{{nombre}}</td>
            <td>{{descripcion}}</td>
            <td>{{precio}}</td>
            <td>{{stock}}</td>
            <td>{{nombreCategoria}}</td>
            <td><a href="/productos/single/{{id}}" class="btn btn-light">Ver mas <i class="fas fa-eye"></i></a></td>
            <td><a href="/productos/buy/{{id}}" class="btn btn-success">Comprar<i class="fas fa-shopping-cart"></i>
                </a></td>
        </tr>
        {{/each}}
    </table>

</div>